/* flex布局 */

.u-f,.u-f-ac,.u-f-ajc {
		display: flex;
	}
	.u-f-ac {
		align-items: center;
	}
	.u-f-sb {
		justify-content: space-between;
	}
	.u-f-ajc {
		justify-content: center;
		align-items: center;
	}